body{
  background-image: url(../media/loginPages/blue_background.png);
  background-repeat: repeat;
  background-size: 600px;
}

footer{
  background-color: white;
  margin-bottom: none;
}

.white-box {
  margin-top: 60px;
  background-color: #fff;
  margin-bottom: calc(100vh - 100%);
}

#accountLink{
  text-decoration: none;
  color: gray;
  margin-top: 30px;
}
